@model makeup1.ViewModels.UsersAccount

<div class="col-lg-12">
    @if (Model.username != null)
    {
        <div class="col-lg-3 pull-left">
            <div style="display:none;" id="followUsername">@Model.username</div>
            @if (Model.isFollowing)
            {
                <a onclick="UnFollowUser()" class="unFollowText">Unfollow</a>
                <a onclick="FollowUser()" class="followText" style="display:none;">Follow</a>
            }
            else
            {
                <a onclick="FollowUser()" class="followText">Follow</a>
                <a onclick="UnFollowUser()" class="unFollowText" style="display:none;">Unfollow</a>
            }
        </div>
    }
    else
    {
        <div class="artist">
            <img src="http://www.genengnews.com/app_themes/genconnect/images/default_profile.jpg" />

            <button id="camera"><img style="height: 100px;"src="http://i12.photobucket.com/albums/a229/heiddisskoli/11256417_10153295265094399_1163077171_n_zpsi2phzowr.jpg" /></button>

        </div>
        <div class="uploadContainer">
            <input placeholder="ImageUrl" class="input-sm" id="imageUrl"/>
            <input placeholder="Hash tags" class="input-sm" id="imageHash"/>
            <input type="button" class="btn btn-primary" value="Upload" onclick="UploadImage()"/>
        </div>
            
        
    }
</div>

<div>
    @foreach (var photo in Model.photos)
    {
        <div class="minsida">
            <img src="@photo.photoUrl"/>
        </div>
    }
</div>