@{
    ViewBag.Title = "Um Makeup.is";
}
<h2>@ViewBag.Title</h2>

<div class="textiimidju">
    <p>Hæhæ! Makeup.is er samfélagsmiðill fyrir alla þá sem hafa áhuga á förðun, förðunar- og snyrtivörum.</p>
    <p>Þú þarft að byrja á því að búa þér til aðgang og innskrá þig til þess að geta notað síðuna</p>
    <p> Sem notandi getur þú útbúið þinn eigin myndavegg með þínum eigin myndum, þú getur fylgst með myndum sem aðrir setja inná.
        Að auki er hægt að nálgast lista yfir helstu förðunarfræðinga Íslands og upplýsingar um ýmis tilboð á förðunar- og snyrtivörum víðsvegar
        á Íslandi.</p>
    <p>Endilega sendu okkur póst á makeupis@gmail.com ef þú hefur eitthverjar spurningar eða ábendingar.</p>
</div>
<div class="textiimidju">
    <img class="imgsize2" src="http://i12.photobucket.com/albums/a229/heiddisskoli/11117462_10153294878729399_1863975338_n_zpsv6fgd4qe.jpg" alt="myndaftextakvedja" />
    <img class="imgsize" src="http://i12.photobucket.com/albums/a229/heiddisskoli/girls_zpswmtuvavl.jpg" alt="myndafeigendumsidunnar" />
</div>