
@{
    ViewBag.Title = "Förðunarfræðingar";
}

<h2>Förðunarfræðingar</h2>

<div class="artist">
    <div class="image">
        <img src="http://i12.photobucket.com/albums/a229/heiddisskoli/heiethdisloa%202_zpsuxfo7agk.jpg" alt="myndaffordunarfrædingi" />
    </div>
    <div class="info">
        <p>Heiðdís Lóa Óskarsdóttir</p>
        <p>S: 773-6494</p>
        <a href="https://www.facebook.com/heiddisloacom"><p>Hafðu samband á Facebook</p></a>
</div>
</div>

<div class="artist">
    <div class="image">
        <img src="http://i12.photobucket.com/albums/a229/heiddisskoli/11081328_10204922144867338_531231591219203802_n_zpsjj4f8bec.jpg" alt="myndaffordunarfrædingi" />
    </div>
    <div class="info">
        <p>Anna Guðrún </p>
        <p>S: 847-2333</p>
        <a href="https://www.facebook.com/ingadottir"><p>Hafðu samband á Facebook</p></a>
    </div>
</div>

<div class="artist">
    <div class="image">
        <img src="http://i12.photobucket.com/albums/a229/heiddisskoli/65260_10151721146274174_650858463_n_zpsuth3hvfy.jpg" alt="myndaffordunarfrædingi" />
    </div>
    <div class="info">
        <p>Rakel Guðmundsdóttir</p>
        <p>S: 867-4181</p>
        <a href="https://www.facebook.com/rakgud"><p>Hafðu samband á Facebook</p></a>
    </div>
</div>

<div class="artist">
    <div class="image">
        <img src="http://i12.photobucket.com/albums/a229/heiddisskoli/10413310_10206660959031147_8129678203935587250_n_zpsvgpwuujk.jpg" alt="myndaffordunarfrædingi" />
    </div>
    <div class="info">
        <p>Sigrún Björgvinsdóttir</p>
        <p>S: 661-1622</p>
        <a href="https://www.facebook.com/sb0304?fref=ts"><p>Hafðu samband á Facebook</p></a>
    </div>
</div>

<div class="artist">
    <div class="image">
        <img src="http://i12.photobucket.com/albums/a229/heiddisskoli/13176_10153231463578623_5922980797287470038_n_zpskiclskuj.jpg" alt="myndaffordunarfrædingi" />
    </div>
    <div class="info">
        <p>Jóna María Ólafsdóttir</p>
        <p>S: 690-7118</p>
        <a href="https://www.facebook.com/jona.m.olafsdottir"><p>Hafðu samband á Facebook</p></a>
    </div>
</div>