@model IEnumerable<makeup1.Models.Photo>

@{
    ViewBag.Title = "Síðan mín";
}

//þetta er bara dæmi !!
<form action="demo_form_method.asp" method="get" target="_blank">
    Photo URL: <input type="text" name="fname"><br>
    <input type="submit" value="Submit">
</form>
