@model IEnumerable<makeup1.Models.Photo>

@{
    ViewBag.Title = "Síðan mín";
}

<img src="http://i12.photobucket.com/albums/a229/heiddisskoli/default_profile_zpstffrjvqb.jpg" alt="profilephoto" />

<button onclick="myFunction()"><img src="http://i12.photobucket.com/albums/a229/heiddisskoli/11256417_10153295265094399_1163077171_n_zpsi2phzowr.jpg" alt="baetavidmynd" /></button>
<p id="demo"></p>
<script>
    function myFunction() {
        var person = prompt("Bættu við mynd með því að skrifa inn linkinn af myndinni hér að neðan", "URL");
        <textarea>Halló<textarea>
    }
</script>

//þetta er bara dæmi !!
<form action="demo_form_method.asp" method="get" target="_blank">
    Photo URL: <input type="text" name="fname"><br>
    <input type="submit" value="Submit">
</form>