@model IEnumerable<makeup1.Models.Photo>

@{
    ViewBag.Title = "Síðan mín";
}

<img src="http://i12.photobucket.com/albums/a229/heiddisskoli/default_profile_zpstffrjvqb.jpg" alt="profilephoto" />

<button onclick="myFunction()"><img src="http://i12.photobucket.com/albums/a229/heiddisskoli/11256417_10153295265094399_1163077171_n_zpsi2phzowr.jpg" alt="baetavidmynd" /></button>
<p id="demo"></p>
<!--<script>
    function myFunction() {
        var person = prompt("Bættu við mynd með því að skrifa inn linkinn af myndinni hér að neðan", "URL");
        <textarea>Halló<textarea>
    }
</script>-->
    <form action="~/Photo/AddPhoto" method="POST">
        Photo URL: <input type="text" name="photoUrl"><br>
        <textarea name="comment" rows="5">Skrifaðu lýsingu á myndinni</textarea>
        <input type="submit" value="Submit Image">
    </form>

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-4">
            <div style="display:block; background: url(@p.photoUrl); background-size: cover; background-repeat no-repeat; background-position 50% 50%; max-width 100%; height 200px;" class="photo-wrapper"></div>
        </div>
    }
</div>