@model IEnumerable<makeup1.Models.Photo>

@{
    ViewBag.Title = "Síðan mín";
}

//þetta er bara dæmi !!
<form action="~/Photo/AddPhoto" method="POST">
    Photo URL: <input type="text" name="photoUrl"><br>
    <textarea name="comment" rows="5">Skrifaðu lýsingu á myndinni</textarea>
    <input type="submit" value="Submit Image">
</form>

