
@{
    ViewBag.Title = "Tilboð";
}

<h2 class="text-center">Listi yfir öll helstu tilboð sem eru í gangi hverju sinni</h2>
<p class="text-center textiimidju">Ef þið viljið auglýsa tilboð sem þið eruð með endilega sendið okkur email á makeupis@gmail.com, með eftirfarandi upplýsingar: Nafn á verslun, hvenær er tilboðið? Á hverju er tilboð og sendið okkur mynd með.</p>
<br/>
<h3 class="text-center">MAC Í KRINGLUNNI OG SMÁRALIND</h3>
<a href="https://www.facebook.com/mackringlunni" target="_blank"><img class="displayed photo-wrapper" src="http://i12.photobucket.com/albums/a229/heiddisskoli/10359535_1127014287314563_3876299558531407816_n_zpsd3xxrd9t.jpg" border="0" alt=" photo 10359535_1127014287314563_3876299558531407816_n_zpsd3xxrd9t.jpg" /></a>
<p class="text-center">Tilboðið gildir: 22 maí - 24 maí.</p>
<p class="text-center textiimidju">
    Við vorum að fá nýja æðislega línu til okkar "MAC is Beauty".
    Í tilefni af því ætlum við að hafa tilboð á línunni alla helgina. 20% afsláttur af
    öllum vörum í þessari línu. Kveðja, MAC í Kringlunni og Smáralind
</p>

<br />
<h3 class="text-center">BOBBI BROWN</h3>
<a href="https://www.facebook.com/bobbibrown.snyrtivorur" target="_blank"><img class="photo-wrapper displayed" src="http://i12.photobucket.com/albums/a229/heiddisskoli/11138488_1049405598422240_8476211621346360796_n_zpsad6su04o.jpg" border="0" alt=" photo 11138488_1049405598422240_8476211621346360796_n_zpsad6su04o.jpg" /></a>
<p class="text-center">Tilboðið gildir: Eins lengi og varan endist</p>
<p class="text-center textiimidju">
   Við erum búin að útbúa "mini must have kit" fyrir sumarið. Þetta er fyrsta skipti sem slíkt kit hefur verið útbúið hjá Bobbi Brown! Í kittinu er að finna gloss, rakasprey, maskara, kinnalit, glæran gloss, augnskugga og BB krem. Þetta eru allt vörur sem við teljum vera fullkomnar fyrir sumarið!
   Make Up taska fylgir með! Raunverulegt verð á "kittinu" er 23.690 en við ætlum að selja þær sem eftir eru á 14.990. "Kittin" eru í takmörkuðu magni hjá okkur og við fáum ekki fleiri þegar þær klárast. 
</p>

<br />
<h3 class="text-center">MAKE UP STORE </h3>
<a href="https://www.facebook.com/makeupstoreiceland" target="_blank"><img class="displayed photo-wrapper" src="http://i12.photobucket.com/albums/a229/heiddisskoli/11206964_10152923078099010_3138740149855686600_n_zpsl8x4frjh.jpg" border="0" alt=" photo 11206964_10152923078099010_3138740149855686600_n_zpsl8x4frjh.jpg" /></a>
<p class="text-center">Tilboðið gildir: 28 maí </p>
<p class="text-center textiimidju">
   Við í Make Up Store ætlum að vera með tilboð á öllum förðum og primer-um þann 28 maí. 
</p>

<br />
<h3 class="text-center">MOROCCIANOIL</h3>
<a href="https://www.facebook.com/Moroccanoil" target="_blank"><img class="displayed photo-wrapper"src="http://i12.photobucket.com/albums/a229/heiddisskoli/250853_429964247026003_636314006_n_zpsu42ywawu.jpg" border="0" alt=" photo 250853_429964247026003_636314006_n_zpsu42ywawu.jpg" /></a>
<p class="text-center">Tilboðið gildir: 18 maí - 24 maí</p>
<p class="text-center textiimidju">
   Halló! Við hjá Moroccianoil viljum þakka fyrir góðar viðtökur á vörunum okkar og ætlum að bjóða moroccian olíuna (minni gerðina) á 3200 í heila viku! Venjulega kostar hún 5400. 
   Olían fæst á öllum helstu hárgreiðslustofum. 
</p>
<br />