
@{
    ViewBag.Title = "Tilboð";
}

<h2>Listi yfir öll helstu tilboð sem eru í gangi hverju sinni</h2>
<br/>
<h3 class="center">MAC Í KRINGLUNNI OG SMÁRALIND</h3>

<a href="http://s12.photobucket.com/user/heiddisskoli/media/10359535_1127014287314563_3876299558531407816_n_zpsd3xxrd9t.jpg.html" target="_blank"><img class="displayed" src="http://i12.photobucket.com/albums/a229/heiddisskoli/10359535_1127014287314563_3876299558531407816_n_zpsd3xxrd9t.jpg" border="0" alt=" photo 10359535_1127014287314563_3876299558531407816_n_zpsd3xxrd9t.jpg" /></a>
<p>Við vorum að fá nýja æðislega línu til okkar "MAC is Beauty".
    Í tilefni af því ætlum við að hafa tilboð á línunni alla helgina. 20% afsláttur af 
    öllum vörum í þessari línu. Kveðja, MAC í Kringlunni og Smáralind</p>